#customer {
    text-align: center;
    display: inline-block;
    margin: 10px;
}

#customer > * {
    display: block;
    margin: 0 auto;
}

* {
    font-family: "Open Sans";
}

h3 {
    font-family: "Oswald";
}

#customer > img {
    border-radius: 100%;
    transition: border-radius 1.5s ease-in 0.25s;
    border-style: solid;
    border-color: gainsboro;
    border-width: 2px;
}

#customer:hover > img {
    border-radius: 25%;
    transition: border-radius 0.25s ease;
}

.email {
    color: gray;
}